{:paths   ["src" "classes"]
 :deps    {org.clojure/clojure                {:mvn/version "1.10.3"}}
 :aliases {:fmt     {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
                     :main-opts  ["-m" "cljfmt.main" "fix"]}
           :test    {:extra-paths ["test"]
                     :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
                     :main-opts   ["-m" "cognitect.test-runner"]}
           :aot     {:extra-paths ["."]
                     :jvm-opts    ["-Dclojure.compiler.direct-linking=true"]
                     :exec-fn     build/aot}
           :package {:replace-deps {uberdeps/uberdeps {:mvn/version "1.1.2"}}
                     :main-opts    ["-m" "uberdeps.uberjar"
                                    "--target" "./target/function.jar"]}}}
