{:paths   ["src" "classes"]
 :deps    {org.clojure/clojure                {:mvn/version "1.10.3"}
           com.amazonaws/aws-lambda-java-core {:mvn/version "1.2.1"}}
 :aliases {:fmt     {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
                     :main-opts  ["--main" "cljfmt.main" "fix"]}
           :test    {:extra-paths ["test"]
                     :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
                     :main-opts   ["-m" "cognitect.test-runner"]}
           :package {:replace-deps {uberdeps/uberdeps {:mvn/version "1.1.1"}}
                     :main-opts    ["-m" "uberdeps.uberjar"
                                    "--target" "./target/lambdas-java-aws-sdk.jar"]}}}
